<!-- Info Proyecto -->
<section class="container" >
    <div class="row align-items-md-stretch">
        <div class="col-md-12">
            <div class="h-100 p-5 text-black rounded-3" style="background-color: #FCEE7D;">
                <h2>Connect Salud</h2>
                <p>Cuidado de la Salud, Monitoreo de Peso, Información, Recetas y Suplementos Dietarios.</p>
            </div>
        </div>
    </div>
</section>
<!-- fin info Proyecto -->

<!-- beneficios -->
    <section class="container px-4 py-5" id="featured-3">
        <div id="beneficios" class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
            <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
            <span class="fs-4" style= "color: gray">Beneficios</span>
            </a>
        </div>
        <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
            <h1 class="display-4 fw-normal">Como te podemos Ayudar</h1>
            <p class="fs-5 text-muted">Tenemos una gran variedad de beneficios para ti, conoce más sobre nosotros.</p>
        </div>

        <div class="row g-4  row-cols-1 row-cols-lg-4">
            <a class="feature col" routerLink="/planes" >
            <div>
                <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-warning fs-2 mb-3">
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-people-fill"  viewBox="0 0 16 16">
                    <path d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H7zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                    <path fill-rule="evenodd" d="M5.216 14A2.238 2.238 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.325 6.325 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1h4.216z"/>
                    <path d="M4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5z"/>
                </svg>
                </div>
                <h3 id="beneficio" class="fs-2">Planes</h3>
            </div>
            </a>
            <a class="feature col" routerLink="/guiadealimentacion">
            <div>
                <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-warning fs-2 mb-3">
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-list-check" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M5 11.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zM3.854 2.146a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 1 1 .708-.708L2 3.293l1.146-1.147a.5.5 0 0 1 .708 0zm0 4a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 1 1 .708-.708L2 7.293l1.146-1.147a.5.5 0 0 1 .708 0zm0 4a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 0 1 .708-.708l.146.147 1.146-1.147a.5.5 0 0 1 .708 0z"/>
                </svg>
                </div>
                <h3 id="beneficio" class="fs-2">Guia de Alimentación</h3>
            </div>
            </a>
            <a class="feature col" routerLink="/monitoreodepeso">
            <div>
                <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-warning fs-2 mb-3">
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-journal-check" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M10.854 6.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7.5 8.793l2.646-2.647a.5.5 0 0 1 .708 0z"/>
                    <path d="M3 0h10a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2v-1h1v1a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H3a1 1 0 0 0-1 1v1H1V2a2 2 0 0 1 2-2z"/>
                    <path d="M1 5v-.5a.5.5 0 0 1 1 0V5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0V8h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0v.5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1z"/>
                </svg>
                </div>
                <h3 id="beneficio" class="fs-2">Monitoreo de Peso</h3>
            </div>
            </a>
        </div>
        <div class="row g-4 py-5 row-cols-1 row-cols-lg-4">
            <a class="feature col" routerLink="/turnos">
            <div>
                <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-warning fs-2 mb-3">
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-calendar" viewBox="0 0 16 16">
                    <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z"/>
                </svg>
                </div>
                <h3 id="beneficio" class="fs-2">Turnos</h3>
            </div>
            </a>
            <a class="feature col" routerLink="/recetas">
            <div>
                <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-warning fs-2 mb-3">
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-person-workspace" viewBox="0 0 16 16">
                    <path d="M4 16s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H4Zm4-5.95a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5Z"/>
                    <path d="M2 1a2 2 0 0 0-2 2v9.5A1.5 1.5 0 0 0 1.5 14h.653a5.373 5.373 0 0 1 1.066-2H1V3a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v9h-2.219c.554.654.89 1.373 1.066 2h.653a1.5 1.5 0 0 0 1.5-1.5V3a2 2 0 0 0-2-2H2Z"/>
                </svg>
                </div>
                <h3 id="beneficio" class="fs-2">Recetas Saludables</h3>
            </div>
            </a>
            <a routerLink="/contacto" class="feature col" >
            <div>
                <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-warning fs-2 mb-3">
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-headset" viewBox="0 0 16 16">
                    <path d="M8 1a5 5 0 0 0-5 5v1h1a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V6a6 6 0 1 1 12 0v6a2.5 2.5 0 0 1-2.5 2.5H9.366a1 1 0 0 1-.866.5h-1a1 1 0 1 1 0-2h1a1 1 0 0 1 .866.5H11.5A1.5 1.5 0 0 0 13 12h-1a1 1 0 0 1-1-1V8a1 1 0 0 1 1-1h1V6a5 5 0 0 0-5-5z"/>
                </svg>
                </div>
                <h3 id="beneficio" class="fs-2">Contacto</h3>
            </div>
            </a>
        </div>
    </section>

    <!-- Equipo -->
    <section class="container px-4 py-5" id="featured-3">
        <div id="equipo" class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
            <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
            <span class="fs-4" style= "color: gray" >Nuestro Equipo</span>
            </a>
        </div>
        <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
            <h1 class="display-4 fw-normal">Conoce al Equipo</h1>
            <p class="fs-5 text-muted">Nuestros profesionales.</p>
        </div>
        <div class="row g-4 py-5 row">
            <div class="feature1 col">
                <div class="team-image">
                    <img src="/assets/img/Lic. Carla Gomez.jpg" alt="team" />
                </div>
            <h3 id="team" class="fs-3">Lic. Carla Gomez</h3>
            <p>Matrícula 4356</p>
            </div>
            <div class="feature1 col">
                <div class="team-image">
                    <img src="/assets/img/Lic. Marianela Flores.jpg" alt="team" />
                </div>
            <h3 id="team" class="fs-3">Lic. Marianela Flores</h3>
            <p>Matrícula 5623</p>
            </div>
            <div class="feature1 col">
                <div class="team-image">
                    <img src="/assets/img/Lic. Yanella Tobares.jpg" alt="team" />
                </div>
            <h3 id="team" class="fs-3">Lic. Yanella Tobares</h3>
            <p>Matrícula 5986</p>
            </div>
            <div class="feature1 col">
                <div class="team-image">
                    <img src="/assets/img/Amelia Muñoz.jpg" alt="team" />
                </div>
            <h3 id="team" class="fs-3">Lic. Amelia Muñoz</h3>
            <p>Matrícula 1544</p>
            </div>
        </div>
    </section>

    <!-- fin Equipo -->

    <!-- Misión, Visión y Valores -->

    <section class="container px-4 py-5" id="featured-3">
        <div id="equipo" class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
            <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
            <span class="fs-4" style= "color: gray" >Más sobre Connect Salud</span>
            </a>
        </div>
        <div id="tiposDeRecetas">
    <section>
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Misión</h5>
                <p class="card-text">Brindamos un Servicio de Monitoreo de Peso, turnos con especialistas, planes de alimentación y guías saludables que nos ayuden a cambiar hábitos y estilo de vida.</p>
            </div>
        </div>
    </section>
    <section>
        <div class="card" style="width: 18rem;">
            <div class="card-body">
            <h5 class="card-title">Visión</h5>
            <p class="card-text">Ser líderes en el mercado mundial de monitoreo de peso a través de uso de la guía de alimentación y llevando una vida saludable.</p>
            </div>
        </div>
    </section>
    <section>
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Valores</h5>
                <p class="card-text">Honestidad, Calidad, Pasión, Responsabilidad, Empatía, Compromiso y Solidaridad.</p>
            </div>
        </div>
    </section>
<!-- Fin Misión, Visión y Valores -->
