<div class="wrapper fadeInDown">
    <div id="formContent">
        <!-- Tabs Titles -->

        <!-- Icon -->
        <div class="fadeIn first">
            <img src="./assets/img/connect_salud.png" id="icon" alt="User Icon" />
            <h3>Registrar Usuario</h3>
        </div>
    
        <!-- Login Form -->
    <form [formGroup]="myform" (ngSubmit)="registerUser(); myform.valid?myform.reset(): null">
        <input formControlName="username"  type="text" id="login" class="fadeIn first" name="username" placeholder="Ingrese Usuario">
        <input formControlName="password" type="text" id="password" class="fadeIn second" name="password" placeholder="Ingrese password">
        <input formControlName="email" type="text" id="email" class="fadeIn third" name="email" placeholder="Email">
        <button type="submit" class="btn btn-warning btn-block">Registrar</button>
    </form>

    <!-- Remind Passowrd -->
        <div id="formFooter">
            <a class="underlineHover" routerLink="/login">Volver</a>
        </div>
    </div>

</div>

