<div class="wrapper fadeInDown">
    <div id="formContent">
        <!-- Tabs Titles -->
  
        <!-- Icon -->
        <div class="fadeIn first">
            <img src="./assets/img/connect_salud.png" id="icon" alt="User Icon" />
            <h3>Registrar Usuario</h3>
        </div>
    
        <!-- Login Form -->
    <form>
        <input  type="text" id="login" class="fadeIn second" name="login" placeholder="Ingrese Usuario">
        <input type="text" id="password" class="fadeIn third" name="login" placeholder="Ingrese password">
        <input type="text" id="password" class="fadeIn third" name="login" placeholder="Repetir password">
        <input type="submit" class="fadeIn fourth" value="Aceptar">
    </form>
  
    <!-- Remind Passowrd -->
        <div id="formFooter">
            <a class="underlineHover" routerLink="/login">Volver</a>
        </div>
    </div>

</div>

