<div class="wrapper fadeInDown">
    <div id="formContent">
        <!-- Tabs Titles -->

        <!-- Icon -->
        <div class="fadeIn first">
            <img src="./assets/img/connect_salud.png" id="icon" alt="User Icon" />
            <h3>Log In</h3>
        </div>
    
        <!-- Login Form -->
    <form [formGroup]="myform" (ngSubmit)="onSubmit(); myform.valid?myform.reset(): null">
        <input  type="text" formControlName="username" id="login" class="fadeIn first" name="login" placeholder="Usuario">
        <input  type="text" formControlName="password" id="password" class="fadeIn second" name="login" placeholder="Password">
        <button  type="submit" class="btn btn-warning btn-block">Login</button>
    </form>

    <!-- Remind Passowrd -->
        <div id="formFooter">
            <a class="underlineHover" href="#">Forgot Password?</a>
            <a class="underlineHover" routerLink="/register">Registrar</a>
        </div>
    </div>

</div>
