<section class="container">
    <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
    <h1 class="display-4 fw-normal">Editar Usuarios</h1>
    </div>
    <div class="row">
    <div class="col-md-8">
    <form [formGroup]="angForm" (ngSubmit)="postdata(angForm)" autocomplete="off">
    <table class="table">
    <tr><td>Id</td><td><input type="number" class="form-control"
    formControlName="id"></td></tr>
    <tr><td>Usuario</td><td><input type="text" class="form-control"
    formControlName="username"></td></tr>
    <tr><td>Email</td><td><input type="text" class="form-control"
    formControlName="email"></td></tr>
    <tr><td>Administrador</td><td><input type="text" class="form-control"
    formControlName="is_superuser"></td></tr>
    <tr><td>Staff</td><td><input type="text" class="form-control"
    formControlName="is_staff"></td></tr>
    <tr><td colspan="2" class="text-center"><button type="submit" class="btn btnwarning" >Editar</button></td></tr>
    </table>
    </form>
    </div>
    </div>
    </section>
    
