<!-- Contacto -->

<section class="container">
    <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
        <h1 class="display-4 fw-normal">Informacion de Contacto</h1>
    </div>
    <div class="row">
        <div class="col-md-8">
            <form class="row g-3">
                <div class="col-md-6">
                    <label for="inputName" class="form-label">Nombre</label>
                    <input type="text" class="form-control" id="inputName" required>
                </div>
                <div class="col-md-6">
                    <label for="inputLastName" class="form-label">Apellido</label>
                    <input type="text" class="form-control" id="inputLastName" required>
                </div>
                <div class="col-md-6">
                    <label for="inputPhone" class="form-label">Teléfono</label>
                    <input type="number" class="form-control" id="inputPhone" required>
                </div>
                <div class="col-md-6">
                    <label for="inputEmail" class="form-label">Email</label>
                    <input type="email" class="form-control" id="inputEmail" required>
                </div>
                <div class="col-12">
                    <label for="inputSubject" class="form-label">Asunto</label>
                    <input type="text" class="form-control" id="inputSubject" required>
                </div>
                <div class="col-12">
                    <label for="inputMessage" class="form-label">Mensaje</label>
                    <textarea class="form-control" id="inputMessage" rows="3" required></textarea>
                </div>
                <button type="submit" class="btn btn-warning">Enviar</button>
            </form>
        </div>
    </div>
</section>

<!-- fin Contacto -->
    
