 <!-- Comienzo Precios -->
 <section class="container py-3">
    <div id="planes">
        <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
        <h1 class="display-4 fw-normal">Nuestros Planes de Salud</h1>
        <p class="fs-5 text-muted">Tenemos una gran variedad de planes y servicios a disposicion de los clientes.</p>
        </div>
    </div>
    <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
        <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm border-warning">
            <div class="card-header py-3 text" style="background-color: #FCEE7D">
            <h4 class="my-0 fw-normal" >Basico</h4>
            </div>
            <div class="card-body">
            <h1 class="card-title pricing-card-title">$1000<small class="text-muted fw-light">/mes</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
                <li>Acceso a la plataforma</li>
                <li>10 Consultas/mes</li>
                <li>Comunicacion por Email</li>
                <li>Acceso al centro de Ayuda</li>
            </ul>
            <button routerLink="/carrito" type="button" class="w-100 btn btn-lg btn-outline-warning" style="background-color: #FCEE7D">Para Empezar</button>
            </div>
        </div>
        </div>
        <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm border-warning">
            <div class="card-header py-3 text" style="background-color: #FCEE7D">
            <h4 class="my-0 fw-normal" >Intermedio</h4>
            </div>
            <div class="card-body">
            <h1 class="card-title pricing-card-title">$1500<small class="text-muted fw-light">/mes</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
                <li>Acceso a la plataforma</li>
                <li>20 Consultas/mes</li>
                <li>Comunicacion por Email y Mensajes</li>
                <li>Acceso al centro de Ayuda</li>
            </ul>
            <button routerLink="/carrito" type="button" class="w-100 btn btn-lg btn-warning" style="background-color: #FCEE7D">Para Seguir</button>
            </div>
        </div>
        </div>
        <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm border-warning">
            <div class="card-header py-3 text" style="background-color: #FCEE7D">
            <h4 class="my-0 fw-normal">Intensivo</h4>
            </div>
            <div class="card-body">
            <h1 class="card-title pricing-card-title">$3000<small class="text-muted fw-light">/mes</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
                <li>Acceso Total a la Plataforma</li>
                <li>Consultas Ilimitadas</li>
                <li>Comunicacion en Tiempo Real</li>
                <li>Acceso al centro de Ayuda 24 Horas</li>
            </ul>
            <button routerLink="/carrito" type="button" class="w-100 btn btn-lg btn-warning" style="background-color: #FCEE7D">Contactanos</button>
            </div>
        </div>
        </div>
    </div>
</section>
<!-- fin Precios-->

