<section class="container px-4 py-5" id="featured-3">
    <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
        <h1 class="display-4 fw-normal">  Guía de Alimentación </h1>
        <p class="fs-5 text-muted">Recomendaciones para una vida saludable</p> <br>
        <img src="assets/img/tipos-dietas-large.jpg" class="fotoGuia">
    </div>
</section>

<section class="container px-4 py-5" id="featured-3">
    <div class="guiaAlimentacion">
        <div class="guiaAlimentacion">
            <h3>Una buena alimentacion debe incluir alimentos ricos en nutrientes esenciales: 
            proteinas, hidratos de carbono, lipidos, vitaminas y minerales.</h3>
            <hr>
        </div>
        <div class="listaConsejos">
            <ul>
                <li class="items"> Utilizar alimentos frescos, de temporada, para preparar tus comidas. </li>
                <li class="items"> Consumir frutas y hortalizas durante el dia, 5 raciones seria lo minimo. Las frutas 
                    contienen hidratos de absorcion lenta, fibra, vitaminas, minerales,fitoquimicos y agua, ademas su 
                    indice glucemico es bajo. En cuando a las hortalizas, aportan volumen, 
                    lo que ayuda a una mayor saciedad. Contienen 
                    hidratos de carbono de absorcion lenta, fibra, vitaminas, minerales, fitoquimicos, antioxidantes y agua.</li>
                <li class="items"> Es mejor consumir las frutas con su cascara ya que alli se concentra la mayor cantidad de fibra. </li>
                <li class="items"> Incorporar legrumbres y cereales, ya que son una fuente de fibra, vitaminas, minerales y fitoquimicos.
                    Los mas convenientes son los cereales integrales y granos enteros, tienen menor indice glucemico y 
                    dan mayor sensacion de saciedad. </li>
                <li class="items"> Consumir al menos 2 litros de agua al dia. </li>
                <li class="items"> Incluir producteos lacteos, bajos en grasa, los cuales contienen proteinas
                    animales, calcio, fosforo y vitaminas. Lo ideal son 4 porciones al dia.  </li>
                <li class="items"> Consumir poca sal, reemplazar por hierbas aromaticas. </li>
            </ul>
        </div>
            <img src="assets/img/alimentacion-saludable.jpg" class="fotoGuia">
        <div class="listaConsejos">
            <h4 id="titulosAlimentos"> ALIMENTOS COMPLEMENTARIOS </h4>
            <br>
            <ul>
                <li class="items"> Salvado de trigo: Rico en fibra insoluble. Es recomendable consumir dos 
                cucharadas al dia. Ayuda a evitar constipacion y otros problemas intestinales.</li>
                <li class="items"> Salvado de avena: Tiene fibra soluble, ayuda en la disminucion del colesterol,
                a controlar la glucemia y da saciedad. Lo ideal seria consumir dos cucharadas al dia. </li>
                <li class="items"> Semillas: Aportan grasas poliinsaturadas y monoinsaturadas y las semillas de chia 
                y lino portan omega 3. Lo cual ayuda a proteger la salud del corazon y el cerebro, 
                son antioxidantes, antiinflamatorios y ayudan a aumentar las defensas.
                Se recomienda dos cucharaditas por dia. </li>
                <li class="items"> Levadura de cerveza: Contiene vitaminas del complejo B, minerales y fibra. 
                Ayuda a regular los niveles de colecterol. Se recomienda el consumo de dos cucharaditas al dia.</li>
                <li class="items"> Germen de trigo: Es una feunte de proteinas, fibra, acidos grasos, omega 6,
                hidratos de carbono de absorcion lenta, vitamina E, vitaminas del complejo B y minerales.
                    Su uso ayuda a a bajar los niveles de colesterol. La recomendacion es de dos cucharaditas al dia.  </li>
                <li class="items"> Te verde: Ayuda a aumentar el metebolismo promoviendo la oxidacion de las grasas.
                El consumo ideal serian cuatro tazas al dia. </li>
                <li class="items"> Capsulas de aceite de pescado: Su uso es recomendado para personas que no consumen pescado, 
                ya que tiene omega 3, lo cual ayuda a proteger la salud del corazon y el cerebro, son antioxidantes, 
                antiinflamatorias y ayudan a aumentar las defensas del organismo. Dos capsulas al dia. </li>
            </ul>
        </div>
    <button id="botonReceta"><a routerLink="/recetas" id="link"> Ir a recetas saludables </a></button>
    </div>
</section>
