<section class="container">
    <div id="beneficios" class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
        <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
        <span class="fs-4">Turnos</span>
        </a>
    </div>
    <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
        <h1 class="display-4 fw-normal">Reserva de Turno</h1>
    </div>
    <div class="row">
        <div class="col-md-8">
            <div class="form-group">
                <label for="inputDNI" class="form-label">DNI</label>
                <input type="number" class="form-control" id="inputDNI">
            </div>
            <form class="row g-3">
                <div class="col-md-6">
                    <label for="inputName" class="form-label">Nombre</label>
                    <input type="text" class="form-control" id="inputName">
                </div>
                <div class="col-md-6">
                    <label for="inputLastName" class="form-label">Apellido</label>
                    <input type="text" class="form-control" id="inputLastName">
                </div>
                <div class="col-md-6">
                    <label for="inputPhone" class="form-label">Teléfono</label>
                    <input type="text" class="form-control" id="inputPhone">
                </div>
                <div class="col-md-6">
                    <label for="inputEmail" class="form-label">Correo</label>
                    <input type="email" class="form-control" id="inputEmail">
                </div>
                <div class="form-group">
                    <label for="fecha">Fecha</label>
                    <input type="date" class="form-control" id="fecha" name="fecha" placeholder="Fecha">
                </div>
                <div class="form-group">
                    <label for="hora">Hora</label>
                    <input type="time" class="form-control" id="hora" name="hora" placeholder="Hora">
                </div>
                <div class="form-group">
                    <label for="mensaje">Mensaje</label>
                    <textarea class="form-control" id="mensaje" name="mensaje" rows="3"></textarea>
                </div>
                <button type="submit" class="btn btn-warning">Enviar</button>
            </form>
        </div>
    </div>
</section>
