<!-- Formulario --> 

<section class="container">
    
    <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
        <h1 class="display-4 fw-normal">Monitoreo de Peso</h1>
    </div>
    <div class="row">
        
    <div class="col-md-8">
        <div class="form-group">
            <label for="inputDNI" class="form-label">E-mail</label>
            <input type="number" class="form-control" id="inputemail">
        </div>
        <form class="row g-3">
        <div class="col-md-6">
            <label for="inputName" class="form-label">Nombre</label>
            <input type="text" class="form-control" id="inputName">
        </div>
        <div class="col-md-6">
            <label for="inputLastName" class="form-label">Apellido</label>
            <input type="text" class="form-control" id="inputLastName">
        </div>
        <div class="col-md-6">
            <label for="fecha">Fecha</label>
            <input type="date" class="form-control" id="fechainicio" name="fecha" placeholder="Fecha">
        </div>
        <div class="col-md-6">
            <label for="inputPhone" class="form-label">Peso Inicial</label>
            <input type="text" class="form-control" id="inputpesoinicial">
        </div>
        <div class="col-md-6">
            <label for="fecha">Fecha</label>
            <input type="date" class="form-control" id="fechaactual" name="fecha" placeholder="Fecha">
        </div>
        <div class="col-md-6">
            <label for="inputPhone" class="form-label">Peso Actual</label>
            <input type="text" class="form-control" id="inputpesoactual">
        </div>
        <div class="col-md-6">
            <label for="fecha">Fecha</label>
            <input type="date" class="form-control" id="fechadeseado" name="fecha" placeholder="Fecha">
        </div>
        <div class="col-md-6">
            <label for="inputPhone" class="form-label">Peso Deseado</label>
            <input type="text" class="form-control" id="inputPhone">
        </div>
        <button type="submit" class="btn btn-warning">Guardar</button>
            </form>
        </div>
    </div>
</section>
