.container-titulo{
  text-align: center;
  font-size: 30px;
}
table {
  width: 45%;
  border-collapse: collapse;
  border: 1px solid #ccc;
  font-size: 16px;
  margin: auto;
  text-align: center;
}

thead {
  background-color: #f2f2f2;
}

th, td {
  padding: 12px;
  text-align: left;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #ddd;
}

tr.selected {
  background-color: #ffe0b2;
}
.boton-finalizar{
  text-align: center;
}